$background: #FAFAFA;

$pageTitle: #FFFFFF;

$headerText: #FFFFFF;
$headerTextUnderline: #E95E30;

$formBackground: #FFFFFF;
$formTitle: #2B2B2B;
$formSubTitle: #404040;
$formPlaceholderText: #C5C5C5;
$formPlaceholder: #FAFAFA;

$postBackground: #FFFFFF;
$postTitle: #262626;
$postImageContent: #FFFFFF;
$postDescription: #868686;

$primaryButton: #F27623;
$secondaryButton: #7D7D7D;
$buttonText: #FFFFFF;

$footer: #262626;
$footerText: #FFFFFF;