@import "@/styles/colors/colors";

.container {
    padding: 64px 10%;
    width: 100%;

    .containerContent {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 24px;
        place-items: start;
    }
}