@import "./breakpoints/breakpoints.scss";
@import "./colors/colors.scss";

.form {
    background-color: $formBackground;
    width: 100%;
    padding: 24px;

    @include media('>=tablet') {
        width: 40%;
        height: auto;
    }

    h1 {
        color: $formTitle;
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    h3 {
        color: $formSubTitle;
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 8px;
    }

    .formElement {
        padding: 10px 0;
        input {
            width: 100%;
            height: 40px;
            padding-left: 6px;
            background-color: $formPlaceholder;
            border-radius: 2px;
            font-size: 12px;
            font-style: italic;

            ::placeholder {
                color: $formPlaceholderText;
            }
        }

        .dropdown {
            position: relative;
            select {
                width: 100%;
                height: 40px;
                padding-left: 6px;
                background-color: $formPlaceholder;
                border-radius: 2px;
                font-size: 12px;
                font-style: italic;
                align-items: center;
            }

            .chosen {
                color: $formPlaceholderText;
            }
    
            .arrow {
                position: absolute;
                right: 16px;
                top: 40%;
                width: 10px;
                transform: rotate(0deg);
                transition: transform 0.3s ease;
            }
        }

        
        .imgUpload {
            margin-top: 20px;
            width: 150px;
            height: auto;
            background-color: $formPlaceholder;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;

            input[type="file"] {
                display: none;
            }

            img {
                width: 30px;
            }
    
            label {
                background-color: $secondaryButton;
                border-radius: 10px;
                font-weight: 200;
                width: 85px;
                height: 20px;
                color: $buttonText;
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                text-align: center;
                margin: 0 15px;
                cursor: pointer;
            }
        }
    }

    textArea {
        width: 100%;
        resize: vertical;
        height: 100px;
        padding: 10px;
        
        @include media('>=tablet') {
            height: 200px;
        }
    }

    button {
        display: block;
        margin: 0 auto;
        margin-top: 24px;
        width: 200px;
        height: 40px;
        border-radius: 20px;
        border: none;
        background-color: $primaryButton;
        font-size: 12px;
        font-weight: 600;
        color: $buttonText;
        cursor: pointer;
    }

    button:disabled {
        cursor: not-allowed;
    }

    button:hover {
        background-color: darken($color: $primaryButton, $amount: 10);
    }
}