@import "./breakpoints/breakpoints.scss";
@import "./colors/colors.scss";

.container {
    padding: 5% 8%;
    
    @include media('>=tablet') {
        display: flex;
        align-items: flex-start;
        gap: 24px;
        justify-content: space-around;
    }
}