@import "./breakpoints/breakpoints.scss";
@import "./colors/colors.scss";

.postList {
    background-color: $postBackground;
    width: 100%;
    margin: 24px 0;
    padding: 24px;

    @include media('>=tablet') {
        margin: 0;
    }

    .postListContent {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 24px;
        place-items: start;
    }

    button {
        display: block;
        margin: 0 auto;
        margin-top: 120px;
        width: 160px;
        height: 40px;
        border-radius: 20px;
        border: none;
        background-color: $primaryButton;
        font-size: 12px;
        font-weight: 600;
        color: $buttonText;
        cursor: pointer;
    }
}